// /* // 添加背景图片 */
// body {
//   background: #85c1e9;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-position: 50% 50%;
// }

/* 首行缩进 */
p {
  text-indent: 2em;
}

// // 文章内容的透明度设置 */
// /* //博客内容透明化
// //文章内容的透明度设置 */
// .content-wrap {
//   opacity: 0.9;
// }

// /* 侧边框的透明度设置 */
// .sidebar {
//   opacity: 0.9;
//   background: rgba(255, 255, 255, 0);
// }

// /* 会导致黑夜的bug */
// /* 菜单栏的透明度设置 */
// /* .header-inner {
//   opacity: 0.9;
// } */
// /* 设置表格透明度 */
// table {
//   opacity: 0.9;
// }

// /* 回到顶部按钮边框及透明度 */
// .back-to-top.back-to-top-on {
//   opacity: 0.8;
//   border-radius: 15px;
// }

// /* 代码块透明度 */
// .highlight-wrap {
//   opacity: 0.9;
// }

// /* 版权声明透明度 */
// .post-copyright {
//   opacity: 0.8;
//   background: rgba(255, 255, 255, 0.9);
// }

// .footer-inner {
//   color: #FFFFFF;
// }

// .search-active .search-popup {
//   background: var(--content-bg-color);
//   color: var(--text-color);
//   opacity: 1;
// }

// // 代码长度 
// // .highlight-container .highlight .table-container {
// //   max-height: 500px;
// // }

// /* 更好的侧边滚动条 */
// ::-webkit-scrollbar {
//   width: 10px;
//   height: 10px;
// }

// ::-webkit-scrollbar-button {
//   width: 0;
//   height: 0;
// }

// ::-webkit-scrollbar-button:start:increment, ::-webkit-scrollbar-button:end:decrement {
//   display: none;
// }

// ::-webkit-scrollbar-corner {
//   display: block;
// }

// ::-webkit-scrollbar-thumb {
//   border-radius: 8px;
//   background-color: rgba(0, 0, 0, 0.2);
// }

// ::-webkit-scrollbar-thumb:hover {
//   border-radius: 8px;
//   background-color: rgba(0, 0, 0, 0.5);
// }

// ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
//   border-right: 1px solid transparent;
//   border-left: 1px solid transparent;
// }

// ::-webkit-scrollbar-track:hover {
//   background-color: rgba(0, 0, 0, 0.15);
// }

// ::-webkit-scrollbar-button:start {
//   width: 10px;
//   height: 10px;
//   /* background: url(../images/scrollbar_arrow.png) no-repeat 0 0; */
//   /* 可以添加滚动条样式 */
// }

/* ============================================================================================= */
.tag-cloud-tags {
  /* font-family: Helvetica, Tahoma, Arial; */
  /* font-weight: 100; */
  text-align: center;
  counter-reset: tags;
}

.tag-cloud-tags a {
  border-radius: 6px;
  padding-right: 5px;
  padding-left: 5px;
  margin: 8px 5px 0px 0px;
}

.tag-cloud-tags a:before {
  content: '🏷️';
}

.tag-cloud-tags a:hover {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
  /* box-shadow: 10px 10px 15px 2px rgba(0,0,0,.12), 0 0 6px 0 rgba(104, 104, 105, 0.1); */
  transition-duration: 0.15s;
}

// 圆角
.post-block  {
  border-radius: 30px;
}
.post-block + .post-block {
  border-radius: 30px;
}

.header-inner {
  border-radius: 30px;
}

.sidebar-inner {
  border-radius: 30px;
}

.comments {
  border-radius: 30px;
}